<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="3.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Calculadora</name>
    <description>
        Calculadora simples em phonegap
    </description>
    <plugin name="cordova-plugin-statusbar" spec="2.4.3" />
    <author email="jaelsonjacinto@outlook.com" href="http://jaelsonjacinto.tk">
        JaelsonJacinto de Araújo
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
